APP_NAME=FastAPI User Service
APP_ENV=development
DEBUG=True

SECRET_KEY=change_this_to_a_secure_random_string
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

DATABASE_URL=postgresql://postgres:postgres@db:5432/fastapi_user_service