# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.venv/
env/

# Environment
.env

# IDE
.vscode/
.idea/

# Test / cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# SQLite
*.db